.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    & .list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 100px;
        overflow-y: scroll;
        & .item {
            margin-right: 10px;
            background-color: #333336;
            color: #fff;
            padding: 5px 10px;
            border-radius: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
